<div class="slds-card slds-white-card-temp">
	<div class="slds-card__header">
    	<h2 class="slds-text-heading--medium slds-truncate">Financial Accounts Summary</h2>
  	</div>
  	<div class="slds-card__body slds-grid">
  		<div class="slds-col--padded slds-size--1-of-4">
  			<span class="slds-text-heading--label">Investments</span>
  			<h1 class="slds-text-heading--medium slds-success-text-temp"> $1,244,234 </h1>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-4">
  			<span class="slds-text-heading--label">% Held Assets</span>
  			<h1 class="slds-text-heading--medium">62.1%</h1>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-4">
  			<span class="slds-text-heading--label">Banking</span>
  			<h1 class="slds-text-heading--medium slds-success-text-temp">$94,431</h1>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-4">
  			<span class="slds-text-heading--label">Insurance</span>
  			<h1 class="slds-text-heading--medium slds-success-text-temp">$983</h1>
  		</div>
  	</div>
</div>
<!-- Begin Card -->
<div class="slds-card">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-custom-18 slds-icon--small">
          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom17"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Financial Accounts (1)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
      <div class="slds-button-group">
        <button class="slds-button slds-button--neutral slds-button--small">Add</button>
        <button class="slds-button slds-button--icon-border-filled">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
      </div>
    </div>
  </header>
  <section class="slds-card__body">
    <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
      <thead>
        <tr>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Name</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Type</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Role</th>
          <th class="slds-text-heading--label slds-size--1-of-6 slds-text-align--right" scope="col">Open Date</th>
          <th class="slds-text-heading--label slds-size--1-of-6 slds-text-align--right" scope="col">Balance</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Status</th>
          <th class="slds-row-action" scope="col">
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-5 financial-data-test" data-label="Name" data-financial-type = "checking"><%= link_to(root_path+'rb/financialdetails?i=02u6100000052eW') do %>Cumulus Annuity<% end %></td>
          <td class="slds-size--1-of-5" data-label="Type">Annuity</td>
          <td class="slds-size--1-of-5" data-label="Role=">Owner</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Open Date">5/8/2012</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Balance">$250,465.25</td>
          <td class="slds-size--1-of-5 slds-success-text-temp" data-label="status">Good</td>
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-5 financial-data-test" data-label="Name" data-financial-type = "mortgage"><%= link_to(root_path+'rb/financialdetails?i=02u6100000052eW') do %>Cumulus Mortgage<% end %></td>
          <td class="slds-size--1-of-5" data-label="Type">Mortgage</td>
          <td class="slds-size--1-of-5" data-label="Role=">Owner</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Open Date">5/8/2012</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Balance">$250,465.25</td>
          <td class="slds-size--1-of-5 slds-success-text-temp" data-label="status">Good</td>
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-5 financial-data-test" data-label="Name" data-financial-type = "credit"><%= link_to(root_path+'rb/financialdetails?i=02u6100000052eW') do %>Cumulus Credit Card<% end %></td>
          <td class="slds-size--1-of-5" data-label="Type">Credit Card</td>
          <td class="slds-size--1-of-5" data-label="Role=">Owner</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Open Date">5/8/2012</td>
          <td class="slds-size--1-of-5 slds-text-align--right" data-label="Balance">$250,465.25</td>
          <td class="slds-size--1-of-5 slds-success-text-temp" data-label="status">Good</td>
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>
<!-- End Card -->
<!-- Begin Card -->
<div class="slds-card">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-custom-18 slds-icon--small">
          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom17"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Held Away Assets(1)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
      <div class="slds-button-group">
        <button class="slds-button slds-button--neutral slds-button--small">Add</button>
        <button class="slds-button slds-button--icon-border-filled">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
      </div>
    </div>
  </header>
  <section class="slds-card__body">
    <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
      <thead>
        <tr>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">FI Name</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Product</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Account Number</th>
          <th class="slds-text-heading--label slds-size--1-of-6" scope="col">Routing Number</th>
          <th class="slds-text-heading--label slds-size--1-of-6 slds-text-align--right" scope="col">Open Date</th>
          <th class="slds-text-heading--label slds-size--1-of-6 slds-text-align--right" scope="col">End Date</th>
          <th class="slds-row-action" scope="col">
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-6" data-label="Name">SOMA Bank</td>
          <td class="slds-size--1-of-6" data-label="Type">Checking Account</td>
          <td class="slds-size--1-of-6" data-label="Balance">120934884</td>
          <td class="slds-size--1-of-6" data-label="status">985302392</td>
          <td class="slds-size--1-of-6 slds-text-align--right" data-label="Open Date">5/8/2012</td>
          <td class="slds-size--1-of-6 slds-text-align--right" data-label="End Date">10/11/2014</td>
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>
<!-- End Card -->

<script>

$(document).ready( function(){

    $(document).on('click', '.financial-data-test', function (){
     
    // see if there are existing items
    if (!localStorage.getItem('financialDetailsType')) {
      // Set data
      localStorage.setItem('financialDetailsType', 'checking')
    }

      var financialDetails = $(this).data('financial-type');
      
      switch(financialDetails){
        case 'checking':
          localStorage.setItem('financialDetailsType', 'checking')
          break;
        case 'mortgage':
          localStorage.setItem('financialDetailsType', 'mortgage')
          break;
        case 'credit':
          localStorage.setItem('financialDetailsType', 'credit')
          break;
        default:
          localStorage.setItem('financialDetailsType', 'checking')
          break;
      };

    });

});
</script>