<div class="slds-card slds-white-card-temp">
	<div class="slds-card__header">
    	<h2 class="slds-text-heading--medium slds-truncate">Household Summary</h2><a href="#">View Household</a>
  	</div>
  	<div class="slds-card__body slds-grid">
  		<div class="slds-col--padded slds-size--1-of-5">
  			<span class="slds-text-heading--label">Total Accounts</span>
  			<p>$6,500,000</p>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-5">
  			<span class="slds-text-heading--label">AUM</span>
  			<p>$2,200,500</p>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-5">
  			<span class="slds-text-heading--label">Assets Held Away</span>
  			<p>$3,700,500</p>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-5">
  			<span class="slds-text-heading--label">Last Interaction</span>
  			<p>8/18/2015</p>
  		</div>
  		<div class="slds-col--padded slds-size--1-of-5">
  			<span class="slds-text-heading--label">Next Interaction</span>
  			<p>12/15/2015</p>
  		</div>
  	</div>
</div>
<!-- Begin Card -->
<div class="slds-card">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#contact"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Household Members (2)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
      <div class="slds-button-group">
        <button class="slds-button slds-button--neutral slds-button--small">Add Member</button>
        <button class="slds-button slds-button--icon-border-filled">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
      </div>
    </div>
  </header>
  <section class="slds-card__body">
   <div class="slds-grid">


<!-- Household Item -->
   				<div class="slds-col--padded slds-media slds-tile">
					<div class="slds-media__figure">
					    <span class="slds-avatar slds-avatar--circle slds-avatar--small">
					      <img src="/assets/images/avatar2.jpg" alt="" />
					    </span>
					</div>
		  			<div class="slds-media__body">
					   	<div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
					      <p class="slds-tile__title slds-truncate"><a href="#">Jack Rogers</a></p>
					      <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small slds-shrink-none">
					        <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
					          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
					        </svg>
					        <span class="slds-assistive-text">Show More</span>
					      </button>
					    </div>
					    <div class="slds-grid">
						   	<div class="slds-size--1-of-3">
						   		<ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
							      <li class="slds-truncate slds-list__item">VP, Marketing</li>
							      <li class="slds-truncate slds-list__item">Decision Maker</li>
							    </ul>
						   	</div>
						   	<div class="slds-col--padded slds-size--1-of-3">
						   		Activity
						   	</div>
						   	<div class="slds-col--padded slds-size--1-of-3">
						   		Tasks n stuff
						   	</div>
					   	</div>					    
		  			</div>
				</div>
<!-- End Household Item -->
   	

	</div>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>
<!-- End Card -->
<!-- Begin Card -->
	<div class="slds-card" style="text-align:center; padding:1rem 0;">
  <img src="<%= asset_path('images/householding.png') %>" alt="dashboard" style="padding:1rem;" />
</div>
<!-- End Card -->
<!-- Begin Card -->
<div class="slds-card">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#contact"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Related Entities (1)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
      <div class="slds-button-group">
        <button class="slds-button slds-button--neutral slds-button--small">Add</button>
        <button class="slds-button slds-button--icon-border-filled">
          <svg aria-hidden="true" class="slds-button__icon">
            <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
          </svg>
          <span class="slds-assistive-text">Show More</span>
        </button>
      </div>
    </div>
  </header>
  <section class="slds-card__body">
    <table class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal slds-no-row-hover">
      <thead>
        <tr>
          <th class="slds-text-heading--label slds-size--1-of-5" scope="col">Company</th>
          <th class="slds-text-heading--label slds-size--1-of-5" scope="col">Name</th>
          <th class="slds-text-heading--label slds-size--1-of-5" scope="col">Role</th>
          <th class="slds-text-heading--label slds-size--1-of-5" scope="col">Association</th>
          <th class="slds-text-heading--label slds-size--1-of-5" scope="col">Phone</th>
          <th class="slds-row-action" scope="col">
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="slds-hint-parent">
          <td class="slds-size--1-of-5" data-label="Company">RAD Designs</td>
          <td class="slds-size--1-of-5" data-label="Name">Rachel Adams</td>
          <td class="slds-size--1-of-5" data-label="Company">RAD Designs</td>
          <td class="slds-size--1-of-5" data-label="Title">Director of Operations</td>
          <td class="slds-size--1-of-5" data-label="Email">adam@company.com</td>
          <td>
            <button class="slds-button slds-button--icon-border-filled slds-button--icon-border-small">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon--hint slds-button__icon--small">
                <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#down"></use>
              </svg>
              <span class="slds-assistive-text">Show More</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <footer class="slds-card__footer"><a href="#">View All</a></footer>
</div>
<!-- End Card -->