<div class="slds-card slds-card--empty">
  <header class="slds-card__header slds-grid">
    <div class="slds-media slds-media--center slds-has-flexi-truncate">
      <div class="slds-media__figure">
        <svg aria-hidden="true" class="slds-icon slds-icon-standard-lead slds-icon--small">
          <use xlink:href="<%= asset_path('icons/standard-sprite/svg/symbols.svg') %>#lead"></use>
        </svg>
      </div>
      <div class="slds-media__body">
        <h3 class="slds-text-heading--small slds-truncate">Leads (10)</h3>
      </div>
    </div>
    <div class="slds-no-flex">
        <button class="slds-button slds-button--neutral slds-button--small new-object" data-new-type="lead">New</button>
    </div>
  </header>
  <section class="slds-card__body">
    <ul>
        <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Rachel Adams</a>
                        </p>
                        <div>
                            <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Mobile App</li>
                        <li class="slds-truncate slds-list__item">Never Contacted</li> 
                    </ul>
                </div>
            </div>
        </li>
       <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Jane Ramirez</a>
                        </p>
                        <div>
                            <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Partner Referral</li>
                        <li class="slds-truncate slds-list__item">Never Contacted</li> 
                    </ul>
                </div>
            </div>
        </li>
       <li class="slds-tile">
            <div class="slds-media">
                <div class="slds-media__body">
                    <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate">
                        <p class="slds-truncate slds-tile__title">
                            <a href="#">Sarah Bui</a>
                        </p>
                        <div>
                            <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-active">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
					        <svg aria-hidden="true" class="icon-star-inactive">
					          <use xlink:href="<%= asset_path('icons/custom-sprite/svg/symbols.svg') %>#custom11"></use>
					        </svg>
                        </div>
                    </div>
                    <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
                        <li class="slds-truncate slds-list__item">Website</li>
                        <li class="slds-truncate slds-list__item">Never Contacted</li> 
                    </ul>
                </div>
            </div>
        </li>
	</ul>
  </section>
  <footer class="slds-card__footer"><%= link_to(root_path+'sales/leadlist?i=02u6100000052eW') do %>View All <% end %></footer>
</div>
<script>
$('.new-object').click(function(){
    var newType = $(this).data('new-type');
    $('#lead-composer').toggleClass('slds-hide');
})

</script>