<div class="slds-col slds-size--1-of-1 navbar-temp">
	<div class="slds-grid">
	  <div class="slds-col slds-align-middle">
	  	<span class="slds-icon__container slds-icon-utility-salesforce1">
		  <svg aria-hidden="true" class="slds-icon slds-icon-text-default icon-salesforce1-temp">
		    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#salesforce1"></use>
		  </svg>
		</span>
	  </div>
	  <div class="slds-col slds-align-middle" style="text-align:center;">
	  	<div class="slds-input" style="text-align:left;">
	  		<span class="slds-icon__container slds-icon-utility-search slds-m-horizontal--x-small">
			  <svg aria-hidden="true" class="slds-icon--x-small slds-icon-text-default">
			    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#search"></use>
			  </svg>
			</span>
	  		<input id="input__filter" type="text" placeholder="Search Salesforce" style="width:70%; border:none;">
	  	</div>		  	
	  </div>
	  <div class="slds-col slds-align-middle icon-container ">
		<span class="slds-icon__container slds-icon-utility-apps slds-m-horizontal--x-small">
		  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
		    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#apps"></use>
		  </svg>
		</span>
		<span class="slds-icon__container slds-icon-utility-question slds-m-horizontal--x-small">
		  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
		    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#question"></use>
		  </svg>
		</span>
		<span class="slds-icon__container slds-icon-utility-setup slds-m-horizontal--x-small">
		  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
		    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#setup"></use>
		  </svg>
		</span>
		<span class="slds-icon__container slds-icon-utility-notification slds-m-horizontal--x-small">
		  <svg aria-hidden="true" class="slds-icon--small slds-icon-text-default">
		    <use xlink:href="<%= asset_path('icons/utility-sprite/svg/symbols.svg') %>#notification"></use>
		  </svg>
		</span>
			<%= link_to(root_path) do %>
	 		<span class="slds-avatar slds-avatar--circle slds-avatar--small slds-m-horizontal--x-small">
			  <img src="<%= asset_path('images/Ryan.png') %>" alt="person name" />
			</span>
		<% end %>
	  </div>
	</div>
</div>